<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="ri-map-pin-fill"></i>
                        <div class="cta-text">
                            <h4>Encuentranos en</h4>
                            <span>Bogotá, Colombia</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="ri-cellphone-fill"></i>
                        <div class="cta-text">
                            <h4>Llámanos</h4>
                            <span>+57 322 262 9592</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="ri-message-3-fill"></i>
                        <div class="cta-text">
                            <h4>Contáctanos</h4>
                            <span>info&commat;estudiosercreativo.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/imagenes/Identificador.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>
                                En <b>Ser Creativo</b>, te guiamos en un viaje extraordinario, donde tus ideas se transforman en acciones que impulsan tu crecimiento. 
                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Siguenos</span>
                            <a href="https://www.tiktok.com/@sercreativo.estudio"><i class="ri-tiktok-line"></i></a>
                            <a href="https://www.linkedin.com/company/centro-de-innovaci%C3%B3n-ser-creativo"><i class="ri-linkedin-box-line"></i></a>
                            <a href="#"><i class="ri-behance-line"></i></a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Links de acceso</h3>
                        </div>
                        <ul>
                            <li><a href="#Inicio">Inicio</a></li>
                            <li><a href="#Portafolio">Portafolio</a></li>
                            <li><a href="#Servicios">Servicios</a></li>
                            <li><a href="#Contacto">Contacto</a></li>
                            <li><a href="#Equipo">Equipo</a></li>
                            <li><a routerLink="/conocenos" href="conocenos">Nosotros</a></li>
                            <li><a routerLink="/viajecreativo">Viaje Creartivo</a></li>
                            <li><a routerLink="/politicas">Políticas</a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Suscríbete</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Suscribete al mejor contenido en optimización digital y lleva tu negocio al siguiente nivel.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Correo electronico">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2024 Todos los Derechos Reservados
                            <a href="https://estudiosercreativo.com/">| S E R  CREATIVO |</a> </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>