* {
    box-sizing: border-box;
  }

  body {
    background-color: #181818;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
  }

  .content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-top: 30%;
  }
  .img-con{
    width: 20%;
  }
  .logo {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #fff;
    background-color: #fcc66e21;
    filter: drop-shadow(0 0 7px rgba(192, 191, 191, 0.3)) drop-shadow(0 0 10px rgba(211, 201, 181, 0.6)); /* Sombra y resplandor adaptados */

  }

  .logo span {
    color: #fcc66e;
  }

  .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(26, 25, 25, 0);
    /* 0 0 126px 0 rgb(255 255 255 / 33%) */
  }

  .contact-wrapper > * {
    padding: 1em;
  }

  .contact-form {
    background-color: #222222e5;
  }

  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-form form .block {
    grid-column: 1 / 3;
  }

  .contact-form form p {
    margin: 0;
    padding: 1em;
  }
  
.contact-form p a {
  text-decoration: none;  
  color: #000;
}


  .txt
  {
    color:white;
  }
  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #fcc66e;
  }

  .contact-form form button {
    background-color: #fcc66e;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;

  }

  .contact-form form button:hover,
  .contact-form form button:focus {
    background-color: #fcc66e;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
  }

  .contact-info {
    background-color: #00000000;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(22, 22, 22, 0.432); /* Sombra de texto */
     
  }
  .contact-info h2 {
    color: #000000;
    font-size: 1.8em;
  }
  .contact-info h3 {
    color: #000000;
    font-size: 1.3em;
  }
  .img-fluid{
    align-items: center;
    margin-top: 15px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); /* Sombra paralela */
     
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .contact-info ul {
    list-style-type: none;
    padding: 0;
  }

  .contact-info ul li {
    padding: 0.5em;
  }

  /* Large Screen */
  @media (min-width: 700px) {
    .contact-info {
      background-color: #00000085;
       
    }
         
    body {
      padding: 0 4rem;
    }

    .contact-wrapper {
      display: grid;
      box-shadow: 0 0 20px 0 rgba(26, 25, 25, 0.3);
      /* 0 0 126px 0 rgb(255 255 255 / 33%) */
        grid-template-columns: 2fr 1fr;
    
    }

    .contact-wrapper > * {
      padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
      padding: 2em;
    }
    
    .contact-info h2 {
      color: #fff;
      font-size: 1.5em;
      text-align: left;
    }
    .contact-info h3 {
      color: #fff;
      font-size: 1em;
      text-align: left;
    }
    .contact-info h2 ,h3{
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); /* Sombra paralela */
    }
  .img-fluid{
    align-items: center;
    margin-top: 40px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5)); /* Sombra paralela */ 
     
  }
  }

  