<div class="content">
    <h1 class="logo">Hablemos,<span></span></h1>
    <div class="contact-wrapper">
      <div class="contact-form">
        <!-- <h3>Contactanos</h3> -->
        <form action="/">
          <p>
            <label for="fullname" class="txt">Nombre Completo</label>
            <input type="text" name="fullname" id="fullname">
          </p>
          <p>
            <label for="email" class="txt">Correo</label>
            <input type="email" name="email" id="email">
          </p>
          <p>
            <label for="phone" class="txt">Telefono</label>
            <input type="tel" required name="phone">
          </p>
          <p>
            <label for="affair" class="txt">Asunto</label>
            <input type="text" name="affair">
          </p>
          <p class="block">
            <label for="message" class="txt">Mensaje</label>
            <textarea name="message" rows="3"></textarea>
          </p>
          <p class="block">
            <button type="submit"><a href="https://api.whatsapp.com/send?phone=3222619592&text=Quiero laborar con ustedes!">Enviar</a></button>
          </p>
        </form>
      </div>
      <div class="contact-info">
        <img src="assets/imagenes/logo blancoaa.png" class="img-fluid" alt="logo">
        
    </div>
  </div>