<picture>
    <!-- Imagen para pantallas grandes --> 
    <source srcset="assets/imagenes/LABORATORIO-CREATIVO_WEB.jpg" media="(min-width: 1024px)">
    <!-- Imagen para pantallas medianas (iPads) -->
    <source srcset="assets/imagenes/LABORATORIO-CREATIVO_IPAD.jpg" media="(min-width: 768px) and (max-width: 1023px)">
    <!-- Imagen para pantallas pequeñas (móviles) -->
    <source srcset="assets/imagenes/LABORATORIO-CREATIVO_CELU.jpg" media="(max-width: 767px)">
    <!-- Imagen de respaldo para navegadores que no soportan <picture> -->
    <img src="assets/imagenes/LABORATORIO-CREATIVO.jpg" alt="Responsive Image" style="width: 100%; height: auto;">
  </picture>
  