<div class="col-wrapper">
    <div class="col col--frame col--col">
        <div class="col__child js-child">
            <img src='assets/imagenes/viaje creativo-01.jpg' alt='image' class="img" />
            <div class="content">
                <h2 class="title">Descubre nuevos horizontes</h2>
                <p class="copy">Emprende un emocionante viaje de descubrimiento donde exploramos oportunidades inexploradas en tu mercado.
                </p>
            </div>
        </div>
        <div class="col__child js-child">
            <img src='assets/imagenes/viaje creativo-02.jpg' alt='image' class="img" />
            <div class="content">
                <h2 class="title">Toma decisiones acertadas</h2>
                <p class="copy">
                    Valida tus ideas antes de invertir recursos, asegurando su viabilidad y potencial en el mercado. 
                </p>
            </div>
        </div>
        <div class="col__child js-child">
            <img src='assets/imagenes/viaje creativo-03.jpg' alt='image' class="img" />
            <div class="content">
                <h2 class="title">Construye algo nuevo</h2>
                <p class="copy">Transforma tus ideas en conceptos de negocio viables mediante un desarrollo meticuloso.
                </p>
            </div>
        </div>
        <div class="col__child js-child">
            <img src='assets/imagenes/viaje creativo-01.jpg' alt='iamge' class="img" />
            <div class="content">
                <h2 class="title">Alcanza un crecimiento sostenible</h2>
                <p class="copy"> Atrae nuevos clientes y expande tu base con estrategias de marketing efectivas diseñadas para captar y retener clientes potenciales.
                </p>
            </div>
        </div>
        <div class="col__child js-child">
            <img src='assets/imagenes/viaje creativo-03.jpg' alt='iamge' class="img" />
            <div class="content">
                <h2 class="title">Enriquecer tu viaje creativo</h2>
                <p class="copy">Participa en talleres de innovación rápida donde generar y refinar ideas de manera dinámica y colaborativa. 
                </p>
            </div>
        </div>
    </div>
</div>