<header class="header" id="header">
   <nav class="nav container">
     <a routerLink="/" class="nav__logo">
       <img src="assets/imagenes/Identificador.png" alt="Logo" class="nav__logo-img">
     </a>
 
     <div class="nav__toggle" id="nav-toggle">
       <i class="ri-menu-line"></i>
     </div>
 
     <div class="nav__menu" id="nav-menu">
       <ul class="nav__list">
         <li class="nav__item">
          <a href="#Inicio" class="nav__link">
             <i class="ri-arrow-right-up-line"></i>
             <span style="font-family: Poppins">Inicio</span>
           </a>
         </li>
         <li class="nav__item">
          <a href="#pt3" class="nav__link"> 
             <i class="ri-arrow-right-up-line"></i>
             <span style="font-family: Poppins">Proyectos</span>
           </a>
         </li>
         <li class="nav__item">
          <a href="#Servicios" class="nav__link">
             <i class="ri-arrow-right-up-line"></i>
             <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">Servicios</span>
           </a>
         </li>
         <li class="nav__item">
          <a href="#Equipo" class="nav__link">
             <i class="ri-arrow-right-up-line"></i>
             <span style="font-family: Verdana, Geneva, Tahoma, sans-serif">Equipo</span>
           </a>
         </li>
         <li class="nav__item">
           <a href="#Contacto" class="nav__link">
             <i class="ri-arrow-right-up-line"></i>
             <span style="font-family: Verdana, Geneva, Tahoma, sans-serif">Contacto</span>
           </a>
         </li>
       </ul>
 
       <div class="nav__close" id="nav-close">
         <i class="ri-close-large-line"></i>
       </div>
 
       <div class="nav__social">
         <a href="https://www.instagram.com/" target="_blank" class="nav__social-link">
           <i class="ri-instagram-line"></i>
         </a>
 
         <a href="https://github.com/" target="_blank" class="nav__social-link">
           <i class="ri-github-line"></i>
         </a>
 
         <a href="https://dribbble.com/" target="_blank" class="nav__social-link">
           <i class="ri-dribbble-line"></i>
         </a>
 
         <a href="https://www.linkedin.com/" target="_blank" class="nav__social-link">
           <i class="ri-linkedin-box-line"></i>
         </a>
       </div>
     </div>
   </nav>
 </header>
 