<header class="header" id="header">
    <nav class="nav container">
       <a href="#" class="nav__logo">
         <img src="assets/imagenes/Identificador.png" alt="Logo" class="nav__logo-img">
      </a>
    
       <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
             <li class="nav__item">
                <a href="#" class="nav__link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span style="font-family: poppins">Inicio</span>
                </a>
             </li>
    
             <li class="nav__item">
                <a href="#" class="nav__link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span style="font-family: poppins">Portafolio</span>
                </a>
             </li>
    
             <li class="nav__item">
                <a href="#" class="nav__link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span style="font-family: poppins">Projectos</span>
                </a>
             </li>
    
             <li class="nav__item">
                <a href="#" class="nav__link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span style="font-family: poppins">Servicios</span>
                </a>
             </li>
             <li class="nav__item">
               <a href="#" class="nav__link">
                  <i class="ri-arrow-right-up-line"></i>
                  <span style="font-family: poppins">Equipo</span>
               </a>
            </li>
             <li class="nav__item">
                <a href="#" class="nav__link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span style="font-family: poppins">Contacto</span>
                </a>
             </li>
          </ul>
    
          <!-- Close button -->
          <div class="nav__close" id="nav-close">
             <i class="ri-close-large-line"></i>
          </div>
    
          <div class="nav__social">
             <a href="https://www.instagram.com/" target="_blank" class="nav__social-link">
                <i class="ri-instagram-line"></i>
             </a>
    
             <a href="https://github.com/" target="_blank" class="nav__social-link">
                <i class="ri-github-line"></i>
             </a>
    
             <a href="https://dribbble.com/" target="_blank" class="nav__social-link">
                <i class="ri-dribbble-line"></i>
             </a>
    
             <a href="https://www.linkedin.com/" target="_blank" class="nav__social-link">
                <i class="ri-linkedin-box-line"></i>
             </a>
          </div>
       </div>
    
       <!-- Toggle button -->
       <div class="nav__toggle" id="nav-toggle">
          <i class="ri-menu-line"></i>
       </div>
    </nav>
 </header>
