
<!-- <app-inicio-parallax></app-inicio-parallax> -->
<!-- <app-inicio-parallaxtwo></app-inicio-parallaxtwo>  -->

<app-menu></app-menu> 
<app-btnwa></app-btnwa>
<app-inicio-transformacion></app-inicio-transformacion>
<app-img-lab></app-img-lab>
<!-- 
<section class="sec1 show-animate sectionportafolio">
    <h1 class="animate" style="color:white">Nuestro portafolio</h1>
    <p class="animate" style="color:white">Alguno de nuestro trabajo realizado</p>
       <app-slider-proyectos></app-slider-proyectos>
</section> -->
<app-sliderportafolio></app-sliderportafolio>


<section class="sec2 section">
    
    <h1 class="animate">El Viaje Creativo</h1>
    <p class="animate">Las 5 etapas de tu negocio extitoso</p>

    <app-carrousel-servicios></app-carrousel-servicios>
</section>

<section class="sec4">
    <app-equipo></app-equipo>
</section>

<section class="sec5 section">
    <app-contacto></app-contacto>
</section>

<app-footer></app-footer>

