
<!-- <app-inicio-parallax></app-inicio-parallax> -->
<!-- <app-inicio-parallaxtwo></app-inicio-parallaxtwo>  -->
<app-menu></app-menu> 
<app-inicio-transformacion></app-inicio-transformacion>
<app-img-lab></app-img-lab>

<section class="sec1 show-animate sectionportafolio">
    <h1 class="animate" style="color:white">Nuestro portafolio</h1>
    <p class="animate" style="color:white">Alguno de nuestro trabajo realizado</p>
       <app-slider-proyectos></app-slider-proyectos>
</section>

<section class="sec2 section">
    <h1 class="animate">Second Section</h1>
    <p class="animate">animation on scroll HTML, CSS & javascript</p>

    <app-carrousel-servicios></app-carrousel-servicios>
</section>

<section class="sec4">
    <app-equipo></app-equipo>
</section>

<section class="sec5 section">
    <app-contacto></app-contacto>
</section>
<app-footer></app-footer>