<div class="container content mt-5">
<div class="secqs1">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
        <img src="/assets/imagenes/quienes-somos.png" alt="Imagen descriptiva" class="img-fluid">
      </div>
      <div class="col-12 col-md-6">
        
        <div class="textosquien">
        <h6><mark>¿POR QUÉ ELEGIRNOS?</mark></h6>
        <h3><b>Ser Creativo</b> es tu socio <b>estratégico</b> ideal para impulsar el crecimiento de tu negocio en el <b>mundo digital</b></h3>
        <h5>Con nuestras <b>soluciones tecnológicas innovadoras</b> y personalizadas, puedes estar seguro de que estás brindando a tus clientes una <b>experiencia de alta calidad</b> que les encantará. Además, nuestras soluciones pueden ayudarte a <b>ahorrar tiempo</b> y recursos preciosos, lo que te permitirá enfocarte en tareas de mayor valor. <b>¡Permítenos co-crear tu éxito y juntos, construyamos algo que aporte valor al mundo!</b></h5>
      </div>
    </div>
</div>
</div>
</div>
<div class="divmanos">
    <img src="/assets/imagenes/manosquien.gif" alt="Unión" class="img-fluid">
</div>

<div class="container content mt-5">
  <div class="secqs2">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
          <div class="textosquien">
            <h6><mark>¿QUIÉNES SOMOS?</mark></h6>
            <h3>Somos un equipo multidisciplinario compuesto inicialmente por un diseñador gráfico y un ingeniero de software</h3>
            <h5>que creen en el poder de la empatía, la colaboración y la experimentación para crear soluciones que impacten positivamente al mundo.

              Juntos, formamos un equipo sinérgico que combina la creatividad con la lógica, el corazón con la mente, para ofrecerte un servicio integral y personalizado.</h5>
          </div>
        </div>
        <div class="col-12 col-md-6">
          
          <div class="textosquien">
          <h6><mark>¿QUÉ HACEMOS?</mark></h6>
          <h3>Damos vida a proyectos memorables que abarcan desde el diseño de marca, el desarrollo de estrategias digitales, la creación de software y su ciclo de vida completo,</h3>
          <h5>hasta la implementación de hogares inteligentes y la automatización de cultivos. Somos un puente entre la razón y el sentimiento, combinamos la experiencia con las últimas tendencias para ofrecerte un servicio integral y personalizado.</h5>
        </div>
      </div>
  </div>
  </div>
  </div>
  <div class="divred">
    <img src="/assets/imagenes/redqs.png" alt="Unión" class="img-fluid">
</div>

<div class="container content mt-5">
  <div class="row align-items-center">
    <div class="col-12 col-md-2 text-center mb-4 mb-md-0">
    </div>
      <div class="col-12 col-md-8 text-center mb-4 mb-md-0">
 
  <div class="textocomo">
    <h6><mark>¿CÓMO LO HACEMOS?</mark></h6>
    <h3>Aspiramos a ser líderes en soluciones integrales</h3>
    <h5>para material ferretero y transmisión de potencia, superando expectativas con productos y servicios de excelencia, extendiendo nuestra presencia a nivel nacional y contribuyendo al crecimiento económico con calidad e innovación.</h5>
  </div>
  </div>
  <div class="col-12 col-md-2 text-center mb-4 mb-md-0"></div>
<img src="/assets/imagenes/5etapasvf.png" alt="Design Thinking" Class= "img-fluiddt"> 
</div>
 
  </div>
  <div class="divred">
    <img src="/assets/imagenes/redqs.png" alt="Unión" class="img-fluid">
</div>
  <div class="container content mt-5">
    <div class="secqsm">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
            <img src="/assets/imagenes/misionn.png" alt="Imagen descriptiva" class="img-fluid">
          </div>
          <div class="col-12 col-md-6">
            
            <div class="textosquien" id="#Mision">
            <h6><mark>NUESTRA MISIÓN</mark></h6>
            <h3>Ser el faro que guía a microempresarios, emprendedores y pymes en su viaje creativo.</h3>
            <h5>Encendemos la chispa de la innovación, brindando soluciones comunicativas y tecnológicas que les permiten destacarse en el universo digital en constante evolución.
            </h5>
          </div>
        </div>
    </div>
    </div>
    </div>
    <div class="container content mt-5">
      <div class="secqsv">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
              <div class="textosquien" id="one">
                <h6><mark>NUESTRA VISIÓN</mark></h6>
                <h3>Ser el estudio creativo líder en Latinoamérica, reconocido por su enfoque innovador, humano y sostenible,</h3>
                <h5> un espacio donde la magia de la creatividad fluye libremente. Un lugar donde microempresas, emprendedores y pymes se inspiren, aprendan y crezcan juntos
                </h5>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="visionimg">
              <img src="/assets/imagenes/vision2.png" alt="Visión" class="img-fluid">
            </div>
          </div>
          <div class="textosquien" id="two">
            <h6><mark>NUESTRA VISIÓN</mark></h6>
            <h3>Ser el estudio creativo líder en Latinoamérica, reconocido por su enfoque innovador, humano y sostenible,</h3>
            <h5> un espacio donde la magia de la creatividad fluye libremente. Un lugar donde microempresas, emprendedores y pymes se inspiren, aprendan y crezcan juntos
            </h5>
          </div>
          <div class="colaboraimg">
            <h3><b>¡CO-CREÉMOS JUNTOS!</b></h3>
            <img src="/assets/imagenes/colabora.png" alt="Visión" class="img-fluid" id="colabora">
            <img src="/assets/imagenes/colaboram.png" alt="Visión" class="img-fluid" id="colaboram">
          </div>
        </div>
      </div>
      </div>
      <section class="sec5" id="Contacto">
        <app-contactolab></app-contactolab>
    </section>
  