<div class="magic-team">
    <div class="defilee__outer">
      <h1>Conoce nuestro <br /> equipo creativo!</h1>
      <section id="defilee" class="defilee__ctnr">
        <div class="defilee__div defilee__div--special2">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 1">
          <p>Hola Soy Nicolás.</p>
        </div>
        <div class="defilee__div defilee__div--special">
          <img src="assets/imagenes/FOTO_GIO_EQUIPO.jpg" alt="Avatar for user 2">
          <p>Soy Gio.</p>
        </div>
        <div class="defilee__div defilee__div--special1 first">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 3">
          <p>Ingeniero de software</p>
        </div>
        <div class="defilee__div defilee__div--special3">
          <img src="assets/imagenes/FOTO_GIO_EQUIPO.jpg" alt="Avatar for user 4">
          <p>Diseñador Gráfico</p>
        </div>
        <!-- <div class="defilee__div defilee__div--special4">
          <img src="https://codepen-chriscoyier-bucket.imgix.net/6.png" alt="Avatar for user 5">
          <p>Brave & Humble</p>
        </div>
        <div class="defilee__div defilee__div--special1 ">
          <img src="https://codepen-chriscoyier-bucket.imgix.net/7.jpg" alt="Avatar for user 6">
          <p>me</p>
        </div> -->
        <!-- <div class="defilee__div">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 7">
          <p>Integrador de IA</p>
        </div> -->
        <div class="defilee__div defilee__div--text">
          <h2>Únete a <a href="https://api.whatsapp.com/send?phone=3222619592&text=Quiero laborar con ustedes!">nosotros!</a></h2>
        </div>
        <!-- <div class="defilee__div defilee__div--special3">
          <img src="assets/imagenes/FOTO_GIO_EQUIPO.jpg" alt="Avatar for user 8">
          <p>Ilustración aplicada</p>
        </div>
        <div class="defilee__div defilee__div--special1">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 9">
          <p>Optimizador Digital</p>
        </div> -->
      </section>
    </div>
  </div>
  