<div class="magic-team">
    <div class="defilee__outer">
      <h1>Conoce nuestro <br /> equipo creativo!</h1>
      <section id="defilee" class="defilee__ctnr">
        <div class="defilee__div defilee__div--special2">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 1">
          <p>Hi, I'm Lora!</p>
        </div>
        <div class="defilee__div defilee__div--special">
          <img src="assets/imagenes/FOTO_GIO_EQUIPO.jpg" alt="Avatar for user 2">
          <p>Hello, I'm Steve.</p>
        </div>
        <div class="defilee__div defilee__div--special1 first">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 3">
          <p>I'm the boss.</p>
        </div>
        <div class="defilee__div defilee__div--special3">
          <img src="assets/imagenes/FOTO_GIO_EQUIPO.jpg" alt="Avatar for user 4">
          <p>One word - Warrior.</p>
        </div>
        <!-- <div class="defilee__div defilee__div--special4">
          <img src="https://codepen-chriscoyier-bucket.imgix.net/6.png" alt="Avatar for user 5">
          <p>Brave & Humble</p>
        </div>
        <div class="defilee__div defilee__div--special1 ">
          <img src="https://codepen-chriscoyier-bucket.imgix.net/7.jpg" alt="Avatar for user 6">
          <p>me</p>
        </div> -->
        <div class="defilee__div">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 7">
          <p>The Friendliest One</p>
        </div>
        <div class="defilee__div defilee__div--text">
          <h2>Únete a <a href="#">nosotros!</a></h2>
        </div>
        <div class="defilee__div defilee__div--special3">
          <img src="assets/imagenes/FOTO_GIO_EQUIPO.jpg" alt="Avatar for user 8">
          <p>Christina.</p>
        </div>
        <div class="defilee__div defilee__div--special1">
          <img src="assets/imagenes/Nico-equipo.jpg" alt="Avatar for user 9">
          <p>Howdy!</p>
        </div>
      </section>
    </div>
  </div>
  