<div class="content-wrapper">
  
  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="assets/imagenes/NFT2.gif" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">Judul Postingan 1</h2>
      <div class="news-card__post-name">Tag Body</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt">Tag Body&hellip;</p>
        <a href="#" class="news-card__read-more">Ver más <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="assets/imagenes/NFT2.gif" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">Judul Postingan 2</h2>
      <div class="news-card__post-name">Tag Body</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt">Tag Body&hellip;</p>
        <a href="#" class="news-card__read-more">Ver más <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="assets/imagenes/NFT2.gif" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">Judul Postingn 3</h2>
      <div class="news-card__post-name">Tag Body</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt">Tag Body&hellip;</p>
        <a href="#" class="news-card__read-more">Ver más <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="assets/imagenes/NFT2.gif" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">Judul Postingan 4</h2>
      <div class="news-card__post-name">Tag Body</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt">Tag Body</p>
        <a href="#" class="news-card__read-more">Ver más <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="assets/imagenes/NFT2.gif" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">Judul Postigan 5</h2>
      <div class="news-card__post-name">Tag Body</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt">Tag Body&hellip;</p>
        <a href="#" class="news-card__read-more">Ver más <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="assets/imagenes/NFT2.gif" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">Judul Postingan 6</h2>
      <div class="news-card__post-name">Tag Body</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt">Tag Body</p>
        <a href="#" class="news-card__read-more">Ver más <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

</div>