
<!-- <app-inicio-parallax></app-inicio-parallax> -->
<!-- <app-inicio-parallaxtwo></app-inicio-parallaxtwo>  -->

<app-menu></app-menu> 
<app-btnwa></app-btnwa>
<section id="Inicio">
<app-inicio-transformacion></app-inicio-transformacion>
</section>
<app-img-lab></app-img-lab>


<section class="sec2 section" id="Servicios">
    
    <h1 class="animate">El Viaje Creativo</h1>
    <p class="animate">Cinco Etapas para el Éxito de tu Negocio</p>

    <app-carrousel-servicios></app-carrousel-servicios>
</section>

<section class="sec1 show-animate sectionportafolio" id="pt3"> 
    <h1 class="animate" style="color:white">Algunos proyectos</h1>
    <p class="animate" style="color:white">En los cuales hemos <b>Co-creado</b></p>



     
    <app-ptv3></app-ptv3>


</section>

<!-- <section id="pt3">
    <app-ptv3></app-ptv3>
</section> -->


<section class="sec4" id="Equipo">
    <app-equipo></app-equipo>
</section>

<section class="sec5 section" id="Contacto">
    <app-contacto></app-contacto>
</section>

