<section class="header py-5">
    <div class="container py-5 main-container">
      <div class="row">
        <div class="col-md-7 order-2 order-md-1">
          <div class="sub-wrapper">
            <div>
              <div class="text-wrapper">
                <div class="text-inner" id="one">
                  <h6 class="lead-sub-heading">
                    ¡Convierte ideas creativas en acciones que impulsan
                    <span id="dynamic-text" class="dynamic-text">el crecimiento!</span>
                  </h6>
                </div>
              </div>
            </div>
            <div class="my-4">
              <div class="text-wrapper">
                <div class="text-inner">
                  <p class="description">
                    <strong>SER CREATIVO</strong> es un <strong>laboratorio de ideas</strong> donde la creatividad cobra vida. Guiados por la pasión por la tecnología y el diseño, te acompañamos en el proceso de la <strong>transformación digital.</strong>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="text-wrapper">
                <div class="text-inner">
                  <app-btnsabermas></app-btnsabermas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <div>
            <div class="text-wrapper">
              <div class="text-inner" id="two">
                <h6 class="lead-sub-heading">
                    ¡Convierte ideas creativas en acciones que impulsan
                    <span id="dynamic-text" class="dynamic-text"> el crecimiento!</span>
                  </h6>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img src="assets/imagenes/animacioninicio.gif" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </section>
  